.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: center;
  alignment: center;
}

.form-group > * {
  width: 100%;
  align-content: center;

}

.registration-card {
  max-width: 800px;
  align-content: center;
  alignment: center;
}
