<!-- If the current user is a doctor, show his or her patients -->
<div *ngIf="isDoc">
  <h1>Patients</h1>
    <div *ngFor="let user of users">
      <app-patient [curPatient]="user.username" [records]="user.records"></app-patient>
    </div>
  <div class="back2"></div>
</div>

<!-- If the current user is a patient, show his or her records-->
<div *ngIf="!isDoc">
  <h1>Records</h1>
    <div *ngFor="let record of records">
      <app-record [recordDate]="record.date" [heartrate]="record.heartrate"></app-record>
    </div>
  <div class="back2">
  </div>
</div>

