.login-card{

  display: flex;
  flex-flow: row wrap;
  height: 500px;
  align-items: center;
  justify-content: space-around;
}

.back {
  background-image: url("https://hokiesports.com/images/2020/2/27/Lane_15FB_nc_LR_6285E.jpg");
  height: 1000px !important;
}
