<mat-card>
    <mat-card-title>Patient: {{curPatient}}</mat-card-title>
    <mat-card-title>Patient age: {{age}}</mat-card-title>
    <mat-card-title># records: {{numRecords}}</mat-card-title>
    <mat-card-title>Previous conditions: {{prevProb}}</mat-card-title>
    <mat-card-title>Current medications: {{currMed}}</mat-card-title>
    <mat-card-title>
        <form [formGroup]="rubricForm" (ngSubmit)="rubricSubmit()">
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Minimum HR</mat-label>
                    <input type="text" formControlName="minhr" matInput placeholder="in bpm">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Maximum HR</mat-label>
                    <input type="text" formControlName="maxhr" matInput placeholder="in bpm">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="legacy">
                    <mat-label>Default feedback</mat-label>
                    <input type="text" formControlName="deffb" matInput placeholder="I recommend...">
                </mat-form-field>
            </div>
        </form>
    </mat-card-title>
        <!--
        <input mat-input type="text" placeholder="min">
    </mat-card-title>
    <mat-card-title>
        <input mat-input type="text" placeholder="max">
    </mat-card-title>
    <mat-card-title>
        <input mat-input type="text" placeholder="default feedback">
        
    </mat-card-title>
-->
    
    <mat-card-content>
        <button class="View" mat-raised-button (click)="emitRecordGetter()"> View {{curPatient}}'s records</button>
        <button class="Delete" mat-raised-button color="warn" (click)="deleteThisPatient()">Delete patient</button>
        <button style="margin-left: 3px" mat-raised-button color="primary" (click)="rubricSubmit()">Set rubric</button>
    </mat-card-content>
</mat-card>
